doctype html
html
    head
        title Title
        meta(charset='utf-8')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        link(rel='stylesheet', href='/assets/styles/styles.css')
    body
        main
            h1= site.title

            include markup/_list.pug

        script(src='/assets/scripts/scripts.js')
